html,body{
    height:100%;
    padding:0;
    margin:0;
    overflow: hidden;
    background-color: rgb(219, 185, 100);
    font-family: 'Quicksand', 'Roboto', sans-serif;
}

header{
    text-align: center;
    font-family: monospace;
}

.calculator {
    width: 340px;
    height: 400px;   
    top:0;
    bottom: 0;
    left: 0;
    right: 0;   
    margin: auto;
    text-align: center;
    background-color: rgb(57, 58, 59);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.5);
    }

.result-container{
    width: 300px;
    height:100px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border:2px solid white;
    border-radius: 10px;
    overflow:hidden;
}

#result{
    padding-right: 10px;
    font-size: 30px;
    color: #60A07F;
    text-align: right;
    height: 50px;
    background-color: #212121;
    font-weight: 100;
}

#display{
    padding-right: 10px;
    font-size: 20px;
    text-align: right;
    height: 50px;
    color: white;
    background-color: #212121;
}

.key-container{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

button {
    flex-basis: 80px;
    padding: 10px;
    font-size: large;
    font-weight: 800;
    border-radius: 5%;
}

div.key-container #clear{
    flex-basis: 50%;
    flex-grow: 2;
}

div.key-container #delete{
    flex-basis: 50%;
    flex-grow: 2;
}

button.number{
    background-color: coral;
    text-align: end;
}

button.operator{
    background-color: teal;
    color: white;
}

button.operator:hover, button.number:hover{
    background-color: white;
    color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(41, 39, 39);
    color: white;
    text-align: center;
  }

.footer-desc{
    float: left;
    margin-left: 10px;
    text-align: center;
}

.links{
    padding-top: 15px;
    padding-right: 20px;
    float: right;
}

.links a{
    text-decoration: none;
    color: white;
}
